<section class="footer row">
    <div class="col">
        <section class="footer__menu">
            <a href="" target="_blank">Home</a>
            <a href="" target="_blank">Advertising Opportunities</a>
            <a href="" target="_blank">Latest News</a>
            <a href="" target="_blank">Privacy Policy</a>
        </section>
        <section class="footer__copy row">
            <div class="col-md-6">© {{year}} - All Rights Reserved.</div>
            <div class="col-md-6 text-md-right">
                <span class="dim">Developed by: </span><a href="https://rorystandley.co.uk" target="_blank">Rory
                Standley</a>
            </div>
        </section>
    </div>
</section>
