<section *ngIf="data" class="two-three">
    <div class="row mt-4">
        <div class="col">
            <article (click)="clickMe(data[0]._id)" class="two-three__article"
                     [ngStyle]="{ 'background-image': 'url(' + data[0].image + ')'}">
                <div class="two-three__title">
                    {{data[0].title}}
                </div>
            </article>
        </div>
        <div class="col">
            <article (click)="clickMe(data[1]._id)" class="two-three__article"
                     [ngStyle]="{ 'background-image': 'url(' + data[1].image + ')'}">
                <div class="two-three__title">
                    {{data[1].title}}
                </div>
            </article>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <article (click)="clickMe(data[2]._id)" class="two-three__article"
                     [ngStyle]="{ 'background-image': 'url(' + data[2].image + ')'}">
                <div class="two-three__title">
                    {{data[2].title}}
                </div>
            </article>
        </div>
        <div class="col">
            <article (click)="clickMe(data[3]._id)" class="two-three__article"
                     [ngStyle]="{ 'background-image': 'url(' + data[3].image + ')'}">
                <div class="two-three__title">
                    {{data[3].title}}
                </div>
            </article>
        </div>
        <div class="col">
            <article (click)="clickMe(data[4]._id)" class="two-three__article"
                     [ngStyle]="{ 'background-image': 'url(' + data[4].image + ')'}">
                <div class="two-three__title">
                    {{data[4].title}}
                </div>
            </article>
        </div>
    </div>
</section>
