<section class="header">
    <section class="header__masthead row">
        <div class="header__social col">
            <a [href]="facebook" target="_blank">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </a>
            <a [href]="twitter" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
            <a [href]="instagram" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
        </div>
    </section>
</section>
