<section class="header">
    <section class="header__masthead row">
        <div class="header__social col">
            <a *ngIf="social.facebook" [href]="social.facebook" target="_blank">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </a>
            <a *ngIf="social.twitter" [href]="social.twitter" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
            <a *ngIf="social.instagram" [href]="social.instagram" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
        </div>
    </section>
</section>
