$palette: (
        primary: (
                base: #009850,
                grey: #DEDEDE,
                white: #FFFFFF,
                black: #000000,
                link: #009850
        ),
);
